@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<br />
<p>
    <b>Marshall University Software Engineering 2 Beta Project</b></p>
<p>
    Nate Miklas
</p>
<p>
    Aleksander Aksenov
</p>
<p>
    Jacob Staggs
</p>
<p>
    Jason Lykins
</p>
<p>
    Damian Adams
</p>
<p>
    Henok Atashaba
</p>
<p>
    Josh Taggert
</p>