@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<br />
<p>
    <b>Marshall University Software Engineering 2 Beta Project</b></p>
<p>
    <b>Team Lead: </b>Jayson Lykins
</p>
<p>
    <b>System Integrator: </b>Aleksander Aksenov
</p>
<p>
    <b>Developers:</b> Nate Miklas, Jacob Staggs, Joshua Taggert, Henk Atsbaha, Damian Adams
</p>
