@{
    ViewBag.Title = "Contact Information";
}

<br />
<br />
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marshall University<br />
    Division of Computer Science<br />
    1 John Marshall Dr, Huntington, WV 25755<br />
    Phone: 304.696.4664
</address>

