
<h2 align="center">Inbox</h2><p><a class="btn btn-default" href="create">Compose &raquo;</a></p>

<hr style="border-bottom : 5px" />

<div class="row" align="center">
    <div class="boxed">
        Inbox is empty.
    </div>
</div>

