
@{
    ViewBag.Title = "ChangeDepartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Update Your Selected Field Of Studies</h2>
@using (Html.BeginForm("AddFieldOfStudy", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Save" />
    </div>
</div>




}